.box {
  width: 300px;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  border: 2px solid white;
}

table {
  width: 100%;
}

td {
  width: 25%;
}

button {
  width: 100%;
  background: black;
  color: white;
  cursor: pointer;
  height: 70px;
  font-size: 30px;
  align-items: center;
  border: none;
}

input {
  width: 95%;
  height: 90px;
  background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
  font-size: 30px;
  color: white;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
  border: none;

}

button:hover {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  border-radius: 15px;
  border: 1px solid black;
  color: black;


}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}


.clear {
  background: yellow;
  color: gray;
}

.eq {
  background: green;
}



.title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  margin: 10px 0;
}


img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

h2 {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}