.box{
 border: 2px solid gray;
 width: 300px;
} 

table{
  width: 100%;
} 

td{
  width: 25%;
} 

button{
  width: 100%;
  background: black;
  color: white;
  cursor: pointer;
  height: 70px;
  font-size: 20px;
} 

input{
  width: 97%;
  height: 90px;
  background: lightblue;
} 


