@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&display=swap');



.box{
 border: 2px solid gray;
 width: 300px;
} 

table{
  width: 100%;
} 

td{
  width: 25%;
} 

button{
  width: 100%;
  background: black;
  color: white;
  cursor: pointer;
  height: 70px;
  font-size: 25px;
  align-items: center ;
} 

input{
  width: 95%;
  height: 90px;
  background: #34495e;
  font-size: 30px;
  color: white;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
  font-family: 'Roboto Serif', serif;

} 


body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto Serif', serif;
} 


