.box{
 border: 2px solid gray;
 width: 300px;
} 

table{
  width: 100%;
} 

td{
  width: 25%;
} 

button{
  width: 100%;
  background: black;
  color: white;
  cursor: pointer;
  height: 70px;
  font-size: 25px;
  align-items: center ;
} 

input{
  width: 95%;
  height: 90px;
  background: #34495e;
  font-size: 30px;
  color: white;
  text-align: right;
  padding-right: 10px;

} 


