@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&display=swap');



.box {
  border: 2px solid gray;
  width: 300px;
  background: #a55eea;
}

table {
  width: 100%;
}

td {
  width: 25%;
}

button {
  width: 100%;
  background: black;
  color: white;
  cursor: pointer;
  height: 70px;
  font-size: 30px;
  align-items: center;
  border: none;
}

input {
  width: 95%;
  height: 90px;
  background: #34495e;
  font-size: 30px;
  color: white;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;

}

button:hover {
  background: #45aaf2;
  border-radius: 15px;
  border: 1px solid white;
  

}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.clear {
  background: red;
}

.eq {
  background: green;
}
